.Rproj.user
.Rhistory
.RData
.Ruserdata
depmap/data/dependency scores/CRISPRGeneEffect.csv
depmap/data/dependency scores/D2_Achilles_gene_dep_scores.csv
depmap/data/fig5-data2-v3.xlsx
depmap/data/fig5-data1-v3.xlsx
depmap/data/fig3-data1-v3.xlsx
depmap/data/fig2-data1-v3.xlsx
depmap/data/fig1-data1-v3.xlsx
